@import '../Components/ThemeColors.scss';

.categories-sider-background {
    background-color: $SecondBackgroundColor;
    min-height: calc(100vh - 64px);
    padding: 18px;
}

.categories-sider {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.categories-sider .categories-sider-item{
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.3s;
}

.categories-sider .categories-sider-item:hover {
    color: $ThemeColor;
}

.categories-sider .categories-sider-item:active {
    background-color: $ActiveColor;
}

.categories-sider .categories-active {
    background-color: $ThemeColor;
    color: #FFFFFF;
}

.categories-sider .categories-active:hover {
    color: #FFFFFF;
}

.categories-sider .categories-active:active {
    background-color: $ThemeColor;
}

.histories-content-background {
    background-color: #FFFFFF;
    padding: 10px;
}