.task-button-label {
    display: none !important;
    @media screen and (min-width: 800px) {
        display: inline-block !important;
    }
}

.task-maintable-wrapper {
    margin-top: 5px;
}

.task-progress-bar .ant-progress-bg {
    height: 20px !important;
    border-radius: 7px;
}

.task-progress-bar .ant-progress-inner {
    border-radius: 7px;
}

.task-progress-bar .ant-progress-outer {
    margin-right: calc(-2em - 13px);
    padding-right: calc(2em + 13px);
}