@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fredokaone.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.layout-header-background {
    background-color: #eeeeee;
    padding: 0px 12px;
}

.layout-sider-background {
    height: calc(100vh - 64px);
}

.layout-content-background {
    background-color: #FFFFFF;
}

.layout-header-logo {
    height: 60px;
    vertical-align: top;
}

.layout-header-brand {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 60px;
}

.header-logo-title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 64px;
    font-family: 'Fredoka One';
    display: none;
    @media screen and (min-width: 1100px) and (max-width: 1600px) {
        display: inline;
    }
    @media screen and (min-width: 1600px) {
        display: none;
    }
}

.header-logo-title-long {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 64px;
    font-family: 'Fredoka One';
    display: none;
    @media screen and (min-width: 1600px) {
        display: inline;
    }
}

.header-maininput-warpper {
    margin-top: 10px;
}

.header-maininput {
    width: calc(100% - 80px) !important;
    height: 45px;
}

.header-maininput-button {
    width: 80px;
    height: 45px;
}