.layout-header-background {
    background-color: #c4b7d7;
    padding: 0px 12px;
    position: fixed;
    z-index: 20;
    width: 100%;
}

$siderBackgroundColor: #ededf5;
$siderThemeColor: #705697;
$siderHighlightColor: #dad4f6;
$siderActiveColor: #e9e5fc;

.layout-sider-background-warpper {
    background-color: $siderBackgroundColor;
}

.layout-sider-background {
    background-color: $siderBackgroundColor;
    height: calc(100vh - 64px);
    overflow: auto;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 64px;
}

.layout-sider-background .ant-menu {
    background-color: $siderBackgroundColor;
}

.layout-sider-background .ant-layout-sider-trigger {
    background-color: $siderBackgroundColor;
}

.layout-sider-background .ant-layout-sider-trigger>span {
    color: #000000;
}

.layout-sider-background .ant-menu-item-selected {
    color: $siderThemeColor;
    background-color: $siderHighlightColor !important;
}

.layout-sider-background .ant-menu-item-selected a{
    color: $siderThemeColor;
}

.layout-sider-background .ant-menu-item-active {
    color: $siderThemeColor;
}

.layout-sider-background .ant-menu-item-active a {
    color: $siderThemeColor;
}

.layout-sider-background .ant-menu-item:hover {
    color: $siderThemeColor;
}

.layout-sider-background .ant-menu-item:hover a {
    color: $siderThemeColor;
}

.layout-sider-background .ant-menu-item:active{
    background-color: $siderActiveColor;
}

.layout-sider-background .ant-menu-item::after {
    border-right-color: $siderThemeColor;
}

.layout-content-background {
    background-color: #FFFFFF;
    overflow: auto;
    height: 100vh;
    padding-left: 80px;
    padding-top: 64px;
}

.layout-header-logo {
    height: 60px;
    vertical-align: top;
}

.layout-header-brand {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 60px;
}

.header-logo-title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 64px;
    font-family: 'Fredoka One';
    display: none;
    @media screen and (min-width: 1100px) and (max-width: 1600px) {
        display: inline;
    }
    @media screen and (min-width: 1600px) {
        display: none;
    }
}

.header-logo-title-long {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 64px;
    font-family: 'Fredoka One';
    display: none;
    @media screen and (min-width: 1600px) {
        display: inline;
    }
}

.header-maininput-warpper {
    margin-top: 10px;
}

.header-maininput {
    width: calc(100% - 80px) !important;
    height: 45px;
}

.header-maininput-button {
    width: 80px;
    height: 45px;
}